.map {
  height: 95vh;
  width: 100%;
}
.ol-popup {
  position: absolute;
  background-color: rgb(25, 9, 95);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #d82211;
  bottom: 12px;
  left: -50px;
  color: rgb(245, 238, 229);
  min-width: 220px;
  text-align: center;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
  color: rgb(223, 22, 22);
}

.map-buttons {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 46px;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
}

.map-buttons input {
  margin: 0 0px 0 10px;
  height: auto;
}
