@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
.container {
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;
}
.container h1 {
  margin: 30px 0;
}
h2 {
  margin: 30px 0;
}
h3 {
  margin: 30px 0;
}
button {
  background: rgb(245, 245, 245);
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  /* border-radius: 10px; */
  box-shadow: 3px 3px 3px 0px rgb(10, 10, 10);
  border: none;
  font-family: "Roboto", sans-serif;
}
button:hover {
  box-shadow: 0px 0px 0px 1px rgb(10, 10, 10);
  transition: 0.2s ease;
}
.editBtn {
  width: 70px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(161, 161, 161);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(161, 161, 161);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(161, 161, 161);
}
select,
input {
  border: 1px solid #9b9b9b;
  background: transparent;
  height: 28px;
  margin: 0 0 5px 5px;
}
.remove {
  display: none !important;
}
/* Header */
nav {
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(1, 1, 22);
  padding: 2rem;
}
nav a {
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(250, 249, 255);
}
nav a:hover {
  color: rgb(234, 232, 253);
  transform: translate(1px, 1px);
}
.user span {
  color: rgb(185, 185, 185);
  font-size: 1.2rem;
}
.dropdown #dropdown-btn,
.dropdown #dropdown-btn-locations {
  color: rgb(250, 249, 255);
  background: none;
  border: none;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.dropdown #dropdown-btn:hover,
.dropdown #dropdown-btn-locations:hover {
  color: rgb(234, 232, 253);
  transform: translate(1px, 1px);
}
.item-list,
.item-list-locations {
  position: absolute;
  display: none;
  top: 53px;
  background: rgb(1, 1, 22);
  padding: 1rem;
  line-height: 1.5;
  z-index: 1;
}
.item-list a,
.item-list-locations a {
  display: block;
  font-size: 1.2rem;
}
.display {
  display: block;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* Tabele */

.table-locations {
  flex: 0 0 60%;
}
.table-locations th {
  font-size: 0.9rem;
}
.table-locations th:nth-child(1) {
  width: 70px;
}
.table-locations td:nth-child(2) {
  width: 210px;
  font-size: 0.9rem;
}
.table-locations td:nth-child(3),
.table-locations td:nth-child(4),
.table-locations td:nth-child(5),
.table-locations td:nth-child(6) {
  width: 75px;
}
.table-locations td:nth-child(7) {
  width: 160px;
}
.table {
  margin: 0 auto;
  width: 100%;
  font-size: 0.9rem;
}
table,
th,
td {
  border: 1px solid rgb(210, 207, 207);
}
th,
td {
  padding: 8px 7px;
}
tr:hover {
  background: rgb(243, 243, 245) !important;
}
.table-sensit td:nth-child(6),
.table-sensit td:nth-child(7) {
  width: 120px;
}
table i {
  color: rgb(75, 75, 75);
  font-size: 0.8rem;
}
/* td:nth-child(2) {
  width: 200px;
}
td:nth-child(4) {
  width: 200px;
} */
#table1 td:nth-child(8) {
  font-size: 0.8rem;
}
td:nth-child(10) {
  width: 370px;
  overflow-x: scroll;
  display: block;
}
.prom {
  width: 50px;
}

/* Statistika */
section {
  display: flex;
  justify-content: space-between;
}
.grafikon {
  width: 45%;
}
@media (max-width: 1200px) {
  section {
    flex-direction: column;
  }
  .grafikon {
    width: 95%;
  }
}

/* Users */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* locations */

.edit-container,
.insert-location,
.insert-user,
.insert-zone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(55, 56, 70, 0.37);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
}
.edit-container-show {
  display: flex !important;
  overflow-y: scroll;
}
.edit-location-input,
.insert-location-input,
.insert-form,
.insert-zone-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  padding: 2rem;
  margin: auto;
  background: rgb(250, 250, 255);
  overflow-y: scroll;
  top: 50px;
  bottom: 0;
}
.edit-location-input,
.insert-location-input,
.insert-form,
.insert-zone-input {
  overflow-y: auto;
}
.edit-location-input label,
.insert-location-input label,
.insert-form label,
.insert-zone-input label {
  flex: 0 0 35%;
}
.edit-location-input input,
.insert-location-input input,
.insert-form input,
.insert-zone-input input {
  flex: 0 0 60%;
  height: 28px;
  margin: 0 0 5px 5px;
  padding-left: 5px;
}
.insert-form select,
.insert-location-input select,
.edit-location-input select {
  flex: 0 0 60%;
  height: 28px;
  margin: 0 0 5px 5px;
  overflow: scroll;
}
.edit-location-input button,
.insert-location-input button,
.insert-form button,
.insert-zone-input button {
  width: 40%;
  margin: 30px auto auto;
  cursor: pointer;
}

.smallInput {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex: 0 0 60%;
  flex-direction: column;
  padding: 2rem;
}
.zaDispl {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.smallInput input {
  flex: 0 0 5% !important;
  max-width: 35px;
}
.zaDispl input {
  max-width: 140px;
}
.smallInput input:nth-child(even) {
  min-width: 60px;
}
#inputAddBtn,
#inputAddBtnDisp2,
.inputAddBtn,
.inputAddBtnDisp2,
#inputAddBtnDisp2Edit,
#inputAddBtnEdit {
  width: 10px !important;
  /* height: 25px !important; */
  margin: 0 0 0 10px !important;
  padding: 0.3rem 1rem;
}
.timeContainer {
  display: flex;
  justify-content: center;
  flex: 0 0 28%;
  flex-direction: column;
  margin-top: 10px;
}
.timeContainer select {
  margin-top: 10px;
  max-height: 28px;
}

.sensitZone td {
  width: auto;
}
.sensitZone td:nth-child(10) {
  overflow-x: auto;
  width: auto;
  display: table-cell;
}

.displ1,
.displ2 {
  width: 710px !important;
}
.displ1 label,
.displ2 label {
  margin-left: 10px;
  width: 15%;
}
.displ1 p,
.displ2 p {
  margin: 10px 0;
  font-weight: 600;
}
.displ1 #lotNo,
.displ2 #lotNo {
  width: 28px;
  text-align: center;
  padding: 0;
  border: 1px solid #e3e3e3;
}
.displ1 #zoneNo,
.displ2 #zoneNo {
  padding-left: 5px;
  text-align: start;
  width: 100px;
  border: 1px solid #e3e3e3;
}
.padding {
  padding: 1.2rem;
}
@media (min-width: 2600px) {
  .displ1,
  .displ2 {
    width: 722px !important;
  }
}
@media (min-width: 3840px) {
  .displ1,
  .displ2 {
    width: 1390px !important;
  }
}
